<?php
define('ROOT','/var/www/html');
define('DB_MODE','MySQL');

// DB_MODEがMySQLの場合に適用
define('DB_HOST',     '');    // データベースのホスト名,IPアドレス,Dockerサービス名
define('DB_NAME',     '');    // データベース名
define('DB_USERNAME', '');    // データベースのユーザー名
define('DB_PASSWORD', '');    // データベースのパスワード

define('LOG_DB_HOST',     '');    // ログ保存用データベースのホスト名,IPアドレス,Dockerサービス名
define('LOG_DB_NAME',     '');    // ログ保存用データベース名
define('LOG_DB_TABLE',    '');    // ログ保存用テーブル名
define('LOG_DB_USERNAME', '');    // ログ保存用データベースのユーザー名
define('LOG_DB_PASSWORD', '');    // ログ保存用データベースのパスワード

?>